{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div>
    <div id="notification-dropdown"></div>
<h3>Track Order</h3>
<div class="row">
    <div class="col-8">
        <div class="card mt-2">
            <div class="card-header">Your Order's:</div>
            <ul class="list-group list-group-flush">
                {% for order in orders %}
                <li class="list-group-item">
                    #{{ order.pk }} {{ order.dish.title }}
                    <span class="badge bg-secondary">{{ order.status|upper }}</span>
                    
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-4">
        <div class="card mt-2">
            <div class="card-body">
                <a href="">Checkout the latest offers</a>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}